<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Login</title>
</head>

<body>
    <header>
        <div class="main-navbar">
            <div class="logo">
                <h1 id="logoLinkedin">Linke</h1>
                <h1 id="logoTinder">Tinder</h1>
            </div>
        </div>
    </header>

    <main class="main-wrapper">
        <div class="login-wrapper">
            <form action="" method="post" class="login-form">
                <label for="username">Login</label>
                <input type="text" name="username" id="username" placeholder="usuário" class="input-text">
                <label for="passowrd">Senha</label>
                <input type="password" name="password" id="password" placeholder="senha" class="input-text">
                <input type="submit" value="Entrar" class="custom-btn">
            </form>
        </div>
        <div class="signin-wrapper">
            <a href="#" class="signin">Não tem uma conta?</a>
        </div>

    </main>

    <footer>
        <p>Desenvolvido por <span class="highlight">Vinícius Vianna</span> para o <span class="highlight">Acelera
                ZG4</span></p>
        <br>
        <p>Brasil, 2023</p>
    </footer>

    <script src="../scripts/login.js"></script>
</body>

</html>