<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Linketinder</title>
</head>

<body>
    <header>
        <div class="main-navbar">
            <div class="logo">
                <h1 id="logoLinkedin">Linke</h1>
                <h1 id="logoTinder">Tinder</h1>
            </div>
            <div class="menu-navbar">
                <a href="../index.html" class="navbar-link">Home</a>
            </div>
        </div>
    </header>

    <main class="main-wrapper">
        <div class="login-wrapper">
            <form action="" method="get" class="login-form" id="signinForm">
                <label for="username">Login</label>
                <input type="text" name="username" id="username" placeholder="jhondoe" class="input-text">
                <label for="name">Nome</label>
                <input type="text" name="name" id="name" placeholder="Jhon Doe" class="input-text">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="jhondoe@gmail.com" class="input-text">
                <label for="competencies">Competências (separadas por vírgula)</label>
                <input type="text" name="competencies" id="competencies" placeholder="TypeScript,HTML,CSS"
                    class="input-text">
                <label for="password">Senha</label>
                <input type="password" name="password" id="password" placeholder="senha" class="input-text">
                <input type="submit" value="Cadastrar" class="custom-btn">
            </form>
        </div>
    </main>

    <footer>
        <p>Desenvolvido por <span class="highlight">Vinícius Vianna</span> para o <span class="highlight">Acelera
                ZG4</span></p>
        <br>
        <p>Brasil, 2023</p>
    </footer>

    <script src="../scripts/signin.js"></script>
</body>

</html>